
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  min-height: 150px;
  background-color: black;
  color: white !important;
}

#nav-bar a {
  color: #fff !important;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}
